.container {
  display: grid;
  font-size: 2rem;
  grid-column: 1 / -1;
  overflow: hidden;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  z-index: 1; }

.latestEvents {
  grid-column: 1 / -1;
  background-image: linear-gradient(white, rgba(187, 39, 31, 0.75));
  color: #bb271f;
  text-transform: uppercase;
  font-size: 6rem;
  text-align: center;
  padding: 10rem 0; }
  @media only screen and (max-width: 43.75em) {
    .latestEvents {
      font-size: 5rem;
      padding-bottom: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .latestEvents {
      font-size: 4rem;
      padding-bottom: 3rem; } }

.fullApp {
  display: grid;
  font-size: 2rem;
  z-index: 0; }

.backdrop {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.visible {
  display: grid; }

.Shelf {
  background-color: #e43127;
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 750;
  left: 0;
  top: 0;
  display: grid;
  transition: all .4s; }
  .Shelf__list {
    display: grid;
    z-index: 850;
    position: relative;
    top: 15%;
    left: -100%;
    list-style: none;
    color: #fff;
    transition: all .6s;
    align-self: start;
    justify-self: start; }
    .Shelf__list__item {
      padding: .5rem;
      width: 100%; }
      .Shelf__list__item__sublist {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem; }
        .Shelf__list__item__sublist__item__icon {
          width: 2rem;
          height: 2rem;
          fill: #e43127;
          transition: all .4s; }
          .Shelf__list__item__sublist__item__icon:hover {
            fill: #dcdcdd;
            transform: scale(2); }
      .Shelf__list__item__link {
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        cursor: pointer; }
      .Shelf__list__item:hover {
        background-color: #4c5c68; }

.shelfVisible {
  width: 66%; }
  .shelfVisible .Shelf__list {
    top: 15%;
    left: 33%; }

.changelog {
  color: #bb271f;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  background-image: linear-gradient(rgba(187, 39, 31, 0.15), rgba(255, 255, 255, 0.75));
  padding: 2rem 3rem;
  grid-gap: 2rem;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px; }
  @media only screen and (max-width: 43.75em) {
    .changelog {
      grid-template-rows: min-content min-content 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .changelog {
      padding: 1rem 1rem; } }
  .changelog__text {
    list-style: none;
    line-height: 1.2; }
  .changelog__item {
    margin-bottom: 2rem; }
  .changelog__img {
    max-width: 100%;
    height: auto;
    grid-column: 1 / span 1;
    justify-self: center; }
    @media only screen and (max-width: 43.75em) {
      .changelog__img {
        grid-row: 2 / span 1;
        grid-column: 1 / -1; } }
  .changelog__title {
    grid-column: 1 / span 1;
    justify-self: start;
    font-size: 4rem;
    padding-left: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .changelog__title {
        font-size: 3rem; } }
  .changelog__date {
    grid-column: 2 / span 1;
    align-self: start;
    justify-self: end;
    padding: 2rem; }
  .changelog__card {
    padding: 0 3rem; }
    @media only screen and (max-width: 43.75em) {
      .changelog__card {
        grid-row: 3 / span 1;
        grid-column: 1 / -1; } }
    @media only screen and (max-width: 37.5em) {
      .changelog__card {
        font-size: 1.5rem; } }
    .changelog__card a {
      display: grid;
      text-decoration: none; }
      .changelog__card a .btn {
        justify-self: center; }

.changelogList__item {
  color: #bb271f;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  padding: 2rem 3rem;
  grid-gap: 2rem;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px; }
  @media only screen and (max-width: 43.75em) {
    .changelogList__item {
      grid-template-rows: min-content min-content 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .changelogList__item {
      padding: 1rem 1rem; } }
  .changelogList__item__text {
    list-style: none;
    line-height: 1.2; }
  .changelogList__item__item {
    margin-bottom: 2rem; }
  .changelogList__item__img {
    max-width: 100%;
    height: auto;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: center; }
    @media only screen and (max-width: 43.75em) {
      .changelogList__item__img {
        grid-row: 2 / span 1;
        grid-column: 1 / -1; } }
    .changelogList__item__img--right {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1; }
      @media only screen and (max-width: 43.75em) {
        .changelogList__item__img--right {
          grid-row: 2 / span 1;
          grid-column: 1 / -1; } }
  .changelogList__item__title {
    grid-column: 1 / span 1;
    justify-self: start;
    font-size: 4rem;
    padding-left: 2rem; }
    .changelogList__item__title--right {
      grid-column: 2 / span 1;
      justify-self: end; }
    @media only screen and (max-width: 37.5em) {
      .changelogList__item__title {
        font-size: 3rem; } }
  .changelogList__item__date {
    grid-column: 2 / span 1;
    align-self: start;
    justify-self: end;
    padding: 2rem; }
    .changelogList__item__date--left {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      justify-self: start; }
  .changelogList__item__card {
    padding: 0 3rem;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1; }
    @media only screen and (max-width: 43.75em) {
      .changelogList__item__card {
        grid-row: 3 / span 1;
        grid-column: 1 / -1; } }
    @media only screen and (max-width: 37.5em) {
      .changelogList__item__card {
        font-size: 1.5rem; } }
    .changelogList__item__card--left {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1; }
      @media only screen and (max-width: 43.75em) {
        .changelogList__item__card--left {
          grid-row: 3 / span 1;
          grid-column: 1 / -1; } }
    .changelogList__item__card a {
      display: grid;
      text-decoration: none; }
      .changelogList__item__card a .btn {
        justify-self: center; }

.gallery {
  background-color: #dcdcdd;
  grid-column: col-start 5 / span 4; }

.info {
  margin-top: 2rem;
  grid-column: full-start / full-end;
  align-content: center;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(187, 39, 31, 0.15), rgba(255, 255, 255, 0.55)), url(../img/Teaser2small.png);
  background-size: cover;
  display: grid;
  justify-items: end;
  padding: 2rem; }
  .info__title {
    font-size: 6rem;
    letter-spacing: .2em;
    color: #fff;
    margin-right: 4rem;
    margin-bottom: 2rem; }

.card {
  width: 50%;
  padding: 3rem;
  margin-right: 3rem;
  box-shadow: 0 1.5rem 4rem black;
  grid-gap: 1rem;
  background-color: #fff;
  opacity: .65;
  display: grid;
  justify-items: center; }
  .card__blurb, .card__icon {
    color: #bb271f; }
  .card__subtitle {
    font-size: 1.75rem;
    font-weight: 500;
    font-style: italic;
    color: #bb271f; }
  .card__icon {
    grid-row: 5 / span 1;
    height: 6rem;
    width: 6rem;
    cursor: pointer; }
    .card__icon svg {
      height: 6rem;
      width: 6rem; }
  .card__blurb {
    grid-row: 4 / span 1;
    font-size: 1.75rem; }

.header {
  background-color: #bb271f;
  position: sticky;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 5.5vh; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  z-index: 1100; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: #46494c; }
  .nav--hamburger {
    display: none; }
  @media only screen and (max-width: 43.75em) {
    .nav {
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr)); } }
  @media only screen and (max-width: 31.25em) {
    .nav__item--full {
      display: none; } }
  @media only screen and (max-width: 31.25em) {
    .nav__item--mobile {
      width: 25%; } }

.btn {
  background-color: #bb271f;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #bb271f; }

.tournament {
  padding: 1rem;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(187, 39, 31, 0.75));
  color: #bb271f; }
  .tournament__header {
    grid-column: 1 / span 2;
    align-self: center;
    justify-self: center;
    font-size: 6rem;
    letter-spacing: 0.2em;
    color: #bb271f;
    padding: 5rem 0; }
    @media only screen and (max-width: 43.75em) {
      .tournament__header {
        font-size: 5rem;
        padding-bottom: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .tournament__header {
        font-size: 4rem;
        padding-bottom: 3rem; } }
    @media only screen and (max-width: 31.25em) {
      .tournament__header {
        font-size: 3rem; } }
  .tournament__title-card {
    box-shadow: 0 1.5rem 4rem black;
    background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(187, 39, 31, 0.65)), url(../img/lifestone.jpg);
    background-size: cover;
    grid-column: 1 / -1;
    justify-self: center;
    padding: 8rem;
    color: #fff;
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr;
    grid-gap: 10rem; }
    @media only screen and (max-width: 31.25em) {
      .tournament__title-card {
        margin: 0 4rem; } }
    .tournament__title-card--110 {
      background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(187, 39, 31, 0.65)), url(../img/eatersTournament.PNG); }
    .tournament__title-card--single-elim {
      background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(187, 39, 31, 0.65)), url(../img/mayTourneySingle.PNG); }
  .tournament__title {
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 1 / span 1; }
  .tournament__winner {
    grid-column: 1 / -1;
    width: 50%;
    justify-self: center;
    margin-top: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .tournament__winner {
        width: 80%; } }
  .tournament__prizes {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    margin-top: 2rem; }
    .tournament__prizes--prize {
      display: flex; }
    .tournament__prizes--icon {
      margin-left: 0.5rem; }
  .tournament__bracket {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(10, minmax(min-content, 10vw));
    grid-template-rows: min-content 1fr min-content 1fr min-content 1fr min-content 1fr min-content 1fr;
    grid-gap: 1.5rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 43.75em) {
      .tournament__bracket {
        grid-template-columns: repeat(10, minmax(5vw, 9vw)); } }
    @media only screen and (max-width: 31.25em) {
      .tournament__bracket {
        grid-template-rows: min-content 1fr min-content 1fr min-content 1fr min-content 1fr 1fr min-content 1fr; } }
    .tournament__bracket .header-medium {
      grid-column: 4 / span 4;
      justify-self: center;
      align-self: center;
      padding: 2rem; }
      @media only screen and (max-width: 43.75em) {
        .tournament__bracket .header-medium {
          font-size: 5rem;
          padding-bottom: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .tournament__bracket .header-medium {
          font-size: 4rem;
          padding-bottom: 3rem; } }
      .tournament__bracket .header-medium--championship {
        grid-row: 1 / span 1; }
      .tournament__bracket .header-medium--semifinals {
        grid-row: 3 / span 1; }
      .tournament__bracket .header-medium--quarterfinals {
        grid-row: 5 / span 1; }
      .tournament__bracket .header-medium--round-2 {
        grid-row: 7 / span 1; }
      .tournament__bracket .header-medium--round-1 {
        grid-row: 9 / span 1; }
        @media only screen and (max-width: 31.25em) {
          .tournament__bracket .header-medium--round-1 {
            grid-row: 10 / span 1; } }
  .tournament__matchup {
    line-height: 1.5;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 1.5rem 4rem black;
    background-color: #fff; }
    @media only screen and (max-width: 43.75em) {
      .tournament__matchup {
        grid-gap: 1.5rem;
        padding: 1rem; } }
    .tournament__matchup--round-1 {
      grid-column: 5 / span 2;
      grid-row: 10 / span 1; }
      @media only screen and (max-width: 31.25em) {
        .tournament__matchup--round-1 {
          grid-row: 11 / span 1; } }
      .tournament__matchup--round-1--1 {
        grid-column: 4 / span 2; }
      .tournament__matchup--round-1--2 {
        grid-column: 6 / span 2; }
    .tournament__matchup--championship {
      grid-column: 5 / span 2;
      grid-row: 2 / span 1; }
    .tournament__matchup--semis-1 {
      grid-column: 4 / span 2;
      grid-row: 4 / span 1; }
    .tournament__matchup--semis-2 {
      grid-column: 6 / span 2;
      grid-row: 4 / span 1; }
    .tournament__matchup--quarters-1 {
      grid-column: 2 / span 2;
      grid-row: 6 / span 1; }
    .tournament__matchup--quarters-2 {
      grid-column: 4 / span 2;
      grid-row: 6 / span 1; }
    .tournament__matchup--quarters-3 {
      grid-column: 6 / span 2;
      grid-row: 6 / span 1; }
    .tournament__matchup--quarters-4 {
      grid-column: 8 / span 2;
      grid-row: 6 / span 1; }
    .tournament__matchup--round-2--1 {
      grid-column: 2 / span 1;
      grid-row: 8 / span 1; }
      @media only screen and (max-width: 31.25em) {
        .tournament__matchup--round-2--1 {
          grid-column: 2 / span 2; } }
    .tournament__matchup--round-2--2 {
      grid-column: 3 / span 1;
      grid-row: 8 / span 1; }
      @media only screen and (max-width: 31.25em) {
        .tournament__matchup--round-2--2 {
          grid-column: 4 / span 2; } }
    .tournament__matchup--round-2--3 {
      grid-column: 4 / span 1;
      grid-row: 8 / span 1; }
      @media only screen and (max-width: 31.25em) {
        .tournament__matchup--round-2--3 {
          grid-column: 6 / span 2; } }
    .tournament__matchup--round-2--4 {
      grid-column: 5 / span 1;
      grid-row: 8 / span 1; }
      @media only screen and (max-width: 31.25em) {
        .tournament__matchup--round-2--4 {
          grid-column: 8 / span 2; } }
    .tournament__matchup--round-2--5 {
      grid-column: 6 / span 1;
      grid-row: 8 / span 1; }
      @media only screen and (max-width: 31.25em) {
        .tournament__matchup--round-2--5 {
          grid-row: 9 / span 1;
          grid-column: 2 / span 2; } }
    .tournament__matchup--round-2--6 {
      grid-column: 7 / span 1;
      grid-row: 8 / span 1; }
      @media only screen and (max-width: 31.25em) {
        .tournament__matchup--round-2--6 {
          grid-row: 9 / span 1;
          grid-column: 4 / span 2; } }
    .tournament__matchup--round-2--7 {
      grid-column: 8 / span 1;
      grid-row: 8 / span 1; }
      @media only screen and (max-width: 31.25em) {
        .tournament__matchup--round-2--7 {
          grid-row: 9 / span 1;
          grid-column: 6 / span 2; } }
    .tournament__matchup--round-2--8 {
      grid-column: 9 / span 1;
      grid-row: 8 / span 1; }
      @media only screen and (max-width: 31.25em) {
        .tournament__matchup--round-2--8 {
          grid-row: 9 / span 1;
          grid-column: 8 / span 2; } }
  .tournament__player {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-items: center; }
    .tournament__player--loser {
      align-self: end;
      color: #000; }
    .tournament__player--winner {
      margin-top: 1rem;
      align-self: start;
      font-weight: 600; }
  .tournament__player-name {
    font-size: 1rem;
    text-align: center;
    padding: 1rem; }
    @media only screen and (max-width: 43.75em) {
      .tournament__player-name {
        display: none; } }
  .tournament__player-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%; }
  .tournament__player-names {
    display: flex;
    flex-flow: column;
    justify-content: space-around; }
  .tournament .column-name {
    display: flex;
    flex-flow: column; }

.past-tournaments-button {
  margin: 3rem 0;
  justify-self: center;
  grid-column: 1/ -1; }

.easter {
  background-image: linear-gradient(rgba(187, 39, 31, 0.77), rgba(255, 255, 255, 0.75));
  grid-column: 1 / -1;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem; }
  .easter__title {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 0.2em;
    color: #fff; }
    @media only screen and (max-width: 43.75em) {
      .easter__title {
        font-size: 5rem;
        padding-bottom: 3rem;
        grid-column: 1 / -1;
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .easter__title {
        font-size: 4rem;
        padding-bottom: 3rem; } }
  .easter__prizes {
    color: #bb271f;
    display: grid; }
    @media only screen and (max-width: 43.75em) {
      .easter__prizes {
        grid-column: 1 / -1;
        grid-row: 4 / span 1;
        justify-self: center; } }
  .easter__img {
    justify-self: center;
    align-self: center; }
    @media only screen and (max-width: 43.75em) {
      .easter__img--1 {
        grid-column: 1 / -1;
        justify-self: center;
        grid-row: 2 / span 1; } }
    .easter__img--1, .easter__img--3 {
      width: 100%; }
    @media only screen and (max-width: 43.75em) {
      .easter__img--2, .easter__img--3 {
        grid-row: 3 / span 1; } }
    @media only screen and (max-width: 43.75em) {
      .easter__img--2 {
        grid-column: 1 / span 1; } }
    .easter__img--3 {
      grid-column: 2 / span 1; }
    .easter__img--2 {
      width: 50%; }

.fashion {
  background-image: linear-gradient(rgba(187, 39, 31, 0.77), rgba(255, 255, 255, 0.75));
  grid-column: 1 / -1;
  padding: 3rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr; }
  .fashion__title {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    font-size: 6rem;
    letter-spacing: 0.2em;
    color: #fff; }
    @media only screen and (max-width: 43.75em) {
      .fashion__title {
        font-size: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .fashion__title {
        font-size: 4rem;
        padding-bottom: 3rem; } }
    @media only screen and (max-width: 31.25em) {
      .fashion__title {
        font-size: 3rem;
        letter-spacing: 0.1em; } }
  .fashion__rules {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    padding: 2rem;
    justify-self: center;
    box-shadow: 0 1.5rem 4rem black;
    background-color: #fff;
    opacity: 0.65; }
    @media only screen and (max-width: 43.75em) {
      .fashion__rules {
        grid-column: 1 / -1;
        grid-row: 2 / span 1;
        justify-self: center; } }
  .fashion__rules-text {
    display: flex;
    flex-flow: column; }
  .fashion__rules-item {
    display: flex;
    align-items: center; }
  .fashion__rules-icon {
    margin-left: 0.5rem; }
  .fashion__rules-text {
    list-style: none;
    line-height: 1.2;
    font-size: 1.8rem;
    color: #bb271f; }
  .fashion__rules-item {
    margin-bottom: 2rem; }
  .fashion__winner-showcase {
    margin-top: 3rem;
    display: grid;
    justify-self: center;
    justify-content: center; }
    .fashion__winner-showcase__title {
      grid-column: 1 / -1;
      text-transform: uppercase;
      justify-self: center;
      align-self: center;
      font-size: 4.5rem;
      letter-spacing: 0.2em;
      color: #bb271f; }
      @media only screen and (max-width: 43.75em) {
        .fashion__winner-showcase__title {
          font-size: 3.75rem; } }
      @media only screen and (max-width: 37.5em) {
        .fashion__winner-showcase__title {
          font-size: 3rem; } }
      @media only screen and (max-width: 31.25em) {
        .fashion__winner-showcase__title {
          font-size: 2.25rem;
          letter-spacing: 0.1em; } }
      .fashion__winner-showcase__title--winguyen {
        font-size: 4rem; }
        @media only screen and (max-width: 50em) {
          .fashion__winner-showcase__title--winguyen {
            font-size: 3.5rem; } }
        @media only screen and (max-width: 43.75em) {
          .fashion__winner-showcase__title--winguyen {
            font-size: 3.25rem; } }
        @media only screen and (max-width: 37.5em) {
          .fashion__winner-showcase__title--winguyen {
            font-size: 2.5rem; } }
        @media only screen and (max-width: 31.25em) {
          .fashion__winner-showcase__title--winguyen {
            font-size: 1.75rem;
            letter-spacing: 0.1em; } }
    .fashion__winner-showcase__img {
      width: 50%;
      align-self: center;
      justify-self: center;
      grid-column: 1 / -1;
      grid-row: 2 / span 1;
      padding: 2rem; }

.cinco {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(187, 39, 31, 0.77), rgba(255, 255, 255, 0.75));
  grid-column: 1 / -1;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem; }
  .cinco__title {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 0.2em;
    color: #bb271f; }
    @media only screen and (max-width: 43.75em) {
      .cinco__title {
        font-size: 5rem;
        padding-bottom: 3rem;
        grid-column: 1 / -1;
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .cinco__title {
        font-size: 4rem;
        padding-bottom: 3rem; } }
  .cinco__prizes {
    color: #bb271f;
    display: grid; }
    @media only screen and (max-width: 43.75em) {
      .cinco__prizes {
        grid-column: 1 / -1;
        grid-row: 4 / span 1;
        justify-self: center; } }
  .cinco__img {
    justify-self: center;
    align-self: center;
    width: 75%; }
    @media only screen and (max-width: 43.75em) {
      .cinco__img--1 {
        grid-column: 1 / -1;
        justify-self: center;
        grid-row: 2 / span 1; } }
    .cinco__img--1, .cinco__img--3 {
      width: 100%; }
    @media only screen and (max-width: 43.75em) {
      .cinco__img--2 {
        grid-column: 1 / span 1; } }
    .cinco__img--3 {
      grid-column: 2 / span 1; }
    .cinco__img--4 {
      width: 80%; }
    .cinco__img--2 {
      width: 50%; }
    @media only screen and (max-width: 43.75em) {
      .cinco__img--2, .cinco__img--3, .cinco__img--4, .cinco__img--5 {
        grid-column: 1 / -1; } }

.utilities {
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(187, 39, 31, 0.75));
  color: #bb271f;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content min-content repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
  min-height: 100vh; }
  .utilities__instructions {
    list-style: none;
    line-height: 1.2;
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    justify-self: center; }
  .utilities__title {
    grid-column: 1 / -1;
    text-align: center;
    padding: 2rem;
    font-size: 6rem;
    letter-spacing: 0.2em;
    text-transform: uppercase; }
    @media only screen and (max-width: 43.75em) {
      .utilities__title {
        font-size: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .utilities__title {
        font-size: 4rem;
        padding-bottom: 3rem; } }
    @media only screen and (max-width: 31.25em) {
      .utilities__title {
        font-size: 3rem;
        letter-spacing: 0.1em; } }
  .utilities__img {
    width: 80%;
    grid-column: 1 / -1;
    justify-self: center; }
    .utilities__img--1 {
      grid-row: 3 / span 1; }
    .utilities__img--2 {
      grid-row: 4 / span 1; }
    .utilities__img--3 {
      grid-row: 5 / span 1; }
  .utilities__instructions-item {
    margin-bottom: 2rem; }
    .utilities__instructions-item a {
      text-decoration: none; }

.setup {
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(187, 39, 31, 0.75));
  color: #bb271f;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content min-content repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 2rem; }
  .setup__instructions {
    list-style: none;
    line-height: 1.2;
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    justify-self: center; }
  .setup__title {
    grid-column: 1 / -1;
    text-align: center;
    padding: 2rem;
    font-size: 6rem;
    letter-spacing: 0.2em;
    text-transform: uppercase; }
    @media only screen and (max-width: 43.75em) {
      .setup__title {
        font-size: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .setup__title {
        font-size: 4rem;
        padding-bottom: 3rem; } }
    @media only screen and (max-width: 31.25em) {
      .setup__title {
        font-size: 3rem;
        letter-spacing: 0.1em; } }
  .setup__img {
    width: 80%;
    grid-column: 1 / -1;
    justify-self: center; }
    .setup__img--1 {
      grid-row: 3 / span 1; }
    .setup__img--2 {
      grid-row: 4 / span 1; }
    .setup__img--3 {
      grid-row: 5 / span 1; }
  .setup__instructions-item {
    margin-bottom: 2rem; }
    .setup__instructions-item a {
      text-decoration: none; }

.customContent {
  color: #bb271f;
  width: 100%;
  padding: 2rem;
  display: grid; }
  .customContent__title {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 0.2em;
    text-transform: uppercase; }
    @media only screen and (max-width: 43.75em) {
      .customContent__title {
        font-size: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .customContent__title {
        font-size: 4rem;
        padding-bottom: 3rem; } }
    @media only screen and (max-width: 31.25em) {
      .customContent__title {
        font-size: 3rem;
        letter-spacing: 0.1em; } }
  .customContent__subtitle {
    font-size: 4rem;
    letter-spacing: 0.2em;
    text-transform: uppercase; }
    @media only screen and (max-width: 43.75em) {
      .customContent__subtitle {
        text-align: center; } }
    .customContent__subtitle--pvp {
      grid-column: 1 / -1;
      grid-row: 1 / span 1;
      padding-bottom: 3rem; }
    .customContent__subtitle--qol {
      padding-bottom: 3rem; }
    .customContent__subtitle--quests {
      grid-column: 1 / -1;
      grid-row: 1 / span 1;
      padding-bottom: 6rem;
      padding-top: 6rem;
      justify-self: end; }
      @media only screen and (max-width: 43.75em) {
        .customContent__subtitle--quests {
          text-align: center;
          justify-self: center; } }
    .customContent__subtitle--vendors {
      padding: 6rem 0; }
  .customContent__list {
    list-style: none;
    line-height: 1.7;
    padding: 2rem; }
    .customContent__list--pvp {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      padding: 5rem;
      box-shadow: 0 1.5rem 4rem black;
      background-color: #fff;
      opacity: .75; }
      @media only screen and (max-width: 43.75em) {
        .customContent__list--pvp {
          grid-column: 1 / span 2;
          margin-right: 2rem; } }
    .customContent__list--streaks {
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
      font-size: 1.33rem;
      box-shadow: 0 1.5rem 4rem black;
      background-color: #bb271f;
      color: #fff;
      opacity: .75;
      align-self: end; }
    .customContent__list--qol {
      box-shadow: 0 1.5rem 4rem black;
      background-color: #fff;
      color: #bb271f;
      opacity: .75;
      justify-self: center; }
    .customContent__list--quests {
      box-shadow: 0 1.5rem 4rem black;
      background-color: #fff;
      color: #bb271f;
      opacity: .75;
      justify-self: end; }
      @media only screen and (max-width: 43.75em) {
        .customContent__list--quests {
          text-align: center;
          justify-self: center; } }
    .customContent__list--vendors {
      box-shadow: 0 1.5rem 4rem black;
      background-color: #bb271f;
      color: #fff;
      opacity: .75;
      justify-self: start; }
      @media only screen and (max-width: 43.75em) {
        .customContent__list--vendors {
          text-align: center;
          justify-self: center; } }
  .customContent__list-item:not(:last-child) {
    margin-bottom: 2rem; }
  .customContent__content-box {
    padding: 2rem; }
    @media only screen and (max-width: 43.75em) {
      .customContent__content-box {
        font-size: 1.5rem; } }
    .customContent__content-box--pvp {
      background-image: linear-gradient(rgba(187, 39, 31, 0.15), rgba(255, 255, 255, 0.55)), url(../img/tlmMansion.PNG);
      background-size: cover;
      display: grid;
      grid-template-columns: repeat(3, 33%);
      grid-template-rows: min-content min-content 1fr; }
    .customContent__content-box--qol {
      background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(187, 39, 31, 0.55)), url(../img/asheronsCastle.PNG);
      background-size: cover;
      color: #fff;
      text-align: center;
      display: grid; }
    .customContent__content-box--quests {
      background-image: linear-gradient(rgba(187, 39, 31, 0.15), rgba(255, 255, 255, 0.55)), url(../img/diCustom.png);
      background-size: cover;
      color: #bb271f;
      display: grid; }
    .customContent__content-box--vendors {
      background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(187, 39, 31, 0.55)), url(../img/pkaCustom.PNG);
      background-size: cover;
      color: #fff;
      display: grid; }
  .customContent__list-subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.2em;
    text-align: center; }
    @media only screen and (max-width: 31.25em) {
      .customContent__list-subtitle {
        font-size: 1rem; } }

.wiki {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(187, 39, 31, 0.77));
  grid-column: 1 / -1;
  padding: 3rem;
  color: black;
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: min-content minmax(120vh, 1fr);
  justify-content: center;
  align-content: center; }
  .wiki__side-bar {
    grid-column: 1 / span 1;
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
    background-color: #bb271f;
    color: #fff;
    align-items: center; }
    .wiki__side-bar__item {
      font-size: 1.5rem;
      padding: 1rem;
      width: 100%;
      cursor: pointer; }
      @media only screen and (max-width: 62.5em) {
        .wiki__side-bar__item {
          font-size: 1.25rem; } }
      @media only screen and (max-width: 37.5em) {
        .wiki__side-bar__item {
          font-size: 1rem; } }
      .wiki__side-bar__item:hover {
        background-color: #fff;
        color: #bb271f; }
  .wiki__search-bar {
    width: 100%;
    grid-column: 2 / -1;
    display: flex; }
    .wiki__search-bar__search {
      width: 100%;
      border: none;
      outline: none;
      padding: 1rem;
      line-height: 3rem;
      border: 2px solid #bb271f; }
      .wiki__search-bar__search::placeholder {
        letter-spacing: 0.3em;
        text-transform: uppercase; }
  .wiki__content-box {
    width: 100%;
    justify-self: center;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: white;
    color: black; }
    .wiki__content-box__list {
      list-style: none; }
    .wiki__content-box__article {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: min-content min-content 1fr;
      color: #bb271f;
      padding: 3rem;
      grid-gap: 2rem; }
      @media only screen and (max-width: 62.5em) {
        .wiki__content-box__article {
          font-size: 2rem;
          grid-template-rows: auto; } }
      @media only screen and (max-width: 37.5em) {
        .wiki__content-box__article {
          font-size: 1.5rem; } }
      .wiki__content-box__article__side-img {
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
        width: 100%;
        justify-self: center; }
        @media only screen and (max-width: 62.5em) {
          .wiki__content-box__article__side-img {
            grid-column: 1 / -1;
            grid-row: 2 / span 1;
            width: 50%; } }
      .wiki__content-box__article__title {
        grid-column: 2 / -1;
        text-align: center;
        font-style: italic;
        font-size: 3rem; }
        @media only screen and (max-width: 62.5em) {
          .wiki__content-box__article__title {
            grid-column: 1 / -1;
            font-size: 2.5rem; } }
      .wiki__content-box__article__link {
        grid-column: 2 / -1;
        grid-row: 2 / span 1;
        text-align: center; }
      .wiki__content-box__article__info {
        padding: 2rem;
        grid-column: 2 / -1;
        grid-row: 3 / span 1;
        font-size: 1.6rem;
        line-height: 2; }
        @media only screen and (max-width: 62.5em) {
          .wiki__content-box__article__info {
            grid-column: 1 / -1;
            grid-row: 3 / span 1;
            justify-self: center;
            font-size: 1.4rem; } }
        @media only screen and (max-width: 62.5em) {
          .wiki__content-box__article__info--vendors {
            justify-self: start; } }
        @media only screen and (max-width: 37.5em) {
          .wiki__content-box__article__info {
            font-size: 1.2rem; } }
        .wiki__content-box__article__info__list {
          list-style: none;
          margin-bottom: 2rem; }
          @media only screen and (max-width: 62.5em) {
            .wiki__content-box__article__info__list {
              margin-bottom: 6rem; } }
          .wiki__content-box__article__info__list__item {
            margin-bottom: 2rem; }
            .wiki__content-box__article__info__list__item--bold {
              font-weight: bold; }
            @media only screen and (max-width: 62.5em) {
              .wiki__content-box__article__info__list__item {
                font-size: 1.4rem; } }
            @media only screen and (max-width: 37.5em) {
              .wiki__content-box__article__info__list__item {
                font-size: 1.2rem; } }
            .wiki__content-box__article__info__list__item__subtitle {
              font-size: 1.4rem;
              text-transform: uppercase;
              letter-spacing: 0.2em; }
          .wiki__content-box__article__info__list--pvp {
            text-align: start; }
          .wiki__content-box__article__info__list--pvp-sublist {
            text-align: end;
            font-size: 1.2rem; }
            @media only screen and (max-width: 62.5em) {
              .wiki__content-box__article__info__list--pvp-sublist {
                text-align: start;
                font-size: 1rem; } }
      .wiki__content-box__article--professors__img {
        width: 50%;
        justify-self: center;
        align-self: center;
        grid-column: 2 / -1;
        padding: 2rem; }
        .wiki__content-box__article--professors__img--1 {
          grid-row: 4 / span 1; }
          @media only screen and (max-width: 50em) {
            .wiki__content-box__article--professors__img--1 {
              grid-column: 1 / -1; } }
        @media only screen and (max-width: 50em) {
          .wiki__content-box__article--professors__img--2 {
            grid-column: 1 / -1; } }
        @media only screen and (max-width: 50em) {
          .wiki__content-box__article--professors__img--3 {
            grid-column: 1 / -1; } }
      .wiki__content-box__article--not-found {
        padding: 4rem;
        display: flex;
        flex-direction: column; }
        .wiki__content-box__article--not-found__title {
          font-size: 3rem;
          text-align: center;
          margin-bottom: 2rem; }
        .wiki__content-box__article--not-found__info {
          text-align: center; }
      .wiki__content-box__article--vendors__side-img {
        grid-column: 1 / span 1; }
        .wiki__content-box__article--vendors__side-img--dmitri {
          grid-row: 5 / span 1; }
        .wiki__content-box__article--vendors__side-img--dalomar {
          grid-row: 7 / span 1; }
          @media only screen and (max-width: 62.5em) {
            .wiki__content-box__article--vendors__side-img--dalomar {
              grid-row: 8 / span 1; } }
        .wiki__content-box__article--vendors__side-img--laurana {
          grid-row: 9 / span 1; }
          @media only screen and (max-width: 62.5em) {
            .wiki__content-box__article--vendors__side-img--laurana {
              grid-row: 11 / span 1; } }
      .wiki__content-box__article--vendors__title--pka {
        grid-row: 4 / span 1; }
      .wiki__content-box__article--vendors__title--holtburg {
        grid-row: 6 / span 1; }
        @media only screen and (max-width: 62.5em) {
          .wiki__content-box__article--vendors__title--holtburg {
            grid-row: 7 / span 1; } }
      .wiki__content-box__article--vendors__title--laurana {
        grid-row: 8 / span 1; }
        @media only screen and (max-width: 62.5em) {
          .wiki__content-box__article--vendors__title--laurana {
            grid-row: 10 / span 1; } }
      .wiki__content-box__article--vendors__info__list {
        padding: 2rem;
        font-size: 1.6rem;
        line-height: 2; }
        .wiki__content-box__article--vendors__info__list__item--bold {
          font-weight: bold; }
        .wiki__content-box__article--vendors__info__list--pka {
          grid-row: 5 / span 1; }
          @media only screen and (max-width: 62.5em) {
            .wiki__content-box__article--vendors__info__list--pka {
              grid-column: 1 / -1;
              grid-row: 6 / span 1; } }
        .wiki__content-box__article--vendors__info__list--holtburg {
          grid-row: 7 / span 1; }
          @media only screen and (max-width: 62.5em) {
            .wiki__content-box__article--vendors__info__list--holtburg {
              grid-column: 1 / -1;
              grid-row: 9 / span 1; } }
        .wiki__content-box__article--vendors__info__list--laurana {
          grid-row: 9 / span 1; }
          @media only screen and (max-width: 62.5em) {
            .wiki__content-box__article--vendors__info__list--laurana {
              grid-column: 1 / -1;
              grid-row: 12 / span 1; } }
      .wiki__content-box__article--riptideGem__img--1 {
        grid-column: 1 / -1;
        justify-self: center;
        grid-row: 4 / span 1; }
    .wiki__content-box__stub {
      display: grid;
      grid-template-columns: 1fr 4fr max-content;
      grid-template-rows: min-content minmax(min-content, 1fr);
      padding: 2rem;
      grid-gap: 1rem;
      color: #bb271f;
      border-bottom: 2px solid #bb271f; }
      .wiki__content-box__stub__title {
        background-color: #bb271f;
        color: #fff;
        font-style: italic;
        grid-column: 2 / -1;
        grid-row: 1 / span 1;
        text-align: center;
        font-size: 2.5rem; }
        @media only screen and (max-width: 50em) {
          .wiki__content-box__stub__title {
            font-size: 2rem;
            grid-column: 1 / -1; } }
        @media only screen and (max-width: 37.5em) {
          .wiki__content-box__stub__title {
            font-size: 1.75rem; } }
        @media only screen and (max-width: 31.25em) {
          .wiki__content-box__stub__title {
            font-size: 1.5rem; } }
      .wiki__content-box__stub__summary {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        font-size: 1.6rem;
        padding: 2rem; }
        @media only screen and (max-width: 50em) {
          .wiki__content-box__stub__summary {
            font-size: 1.4rem;
            grid-column: 1 / -1; } }
        @media only screen and (max-width: 37.5em) {
          .wiki__content-box__stub__summary {
            font-size: 1.2rem; } }
      .wiki__content-box__stub__button {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        display: flex;
        padding: 1rem;
        justify-self: end;
        align-self: end;
        background-color: #bb271f;
        color: #fff;
        cursor: pointer;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
        @media only screen and (max-width: 50em) {
          .wiki__content-box__stub__button {
            font-size: 1.3rem;
            grid-column: 1 / -1;
            grid-row: 3 / span 1; } }
        @media only screen and (max-width: 37.5em) {
          .wiki__content-box__stub__button {
            font-size: 1rem; } }
        .wiki__content-box__stub__button--link {
          grid-column: 3 / span 1;
          grid-row: 2 / span 1;
          display: flex;
          justify-self: end;
          align-self: end;
          background-color: #bb271f;
          color: #fff;
          cursor: pointer;
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          text-decoration: none; }
          @media only screen and (max-width: 50em) {
            .wiki__content-box__stub__button--link {
              font-size: 1.3rem; } }
          @media only screen and (max-width: 37.5em) {
            .wiki__content-box__stub__button--link {
              font-size: 1rem; } }
        .wiki__content-box__stub__button--outside {
          font-size: 1.6rem;
          text-decoration: none; }
        .wiki__content-box__stub__button:hover {
          background-color: #fff;
          color: #bb271f; }
      .wiki__content-box__stub__img {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        width: 100%;
        justify-self: center;
        align-self: center; }
        @media only screen and (max-width: 50em) {
          .wiki__content-box__stub__img {
            display: none; } }

.icon {
  height: 3rem;
  width: 3rem; }

.LoadingSpinner {
  color: #8080ff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease; }

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

/* We convert everything to be rem for ease of editing and scalability.  This rule:
```
html {
    font-size: 62.5%;
}
```
is the base, off which our rem is calculated.  Originally he showed it as setting it as 10px (for ease of calculation).  But because some people want to change the default size of browser font, we dont want to use this method -- it will overwrite what they set.

Therefore: every browser can be assumed to be base of 16px font.  10px is 62.5% of 16.  So if they alter their default value to 24 or 30 or whatever, our calculations are now off of what they have set it to be.   */
body {
  box-sizing: border-box;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif; }

.caps-italics {
  text-transform: uppercase;
  font-style: italic; }

.font-large {
  font-size: 4.5rem; }

.header-large {
  text-transform: uppercase;
  font-size: 6rem;
  text-align: center; }
  .header-large--red {
    color: #bb271f; }
  .header-large--white {
    color: #fff; }

.header-medium {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center; }
  .header-medium--red {
    color: #bb271f; }
  .header-medium--white {
    color: #fff; }

.bold {
  font-weight: bold; }

.elo__list {
  display: grid;
  margin-top: 3rem; }
  .elo__list__item {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 66%; }
    @media only screen and (max-width: 50em) {
      .elo__list__item {
        width: 100%;
        font-size: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .elo__list__item {
        font-size: 1.25rem; } }
    @media only screen and (max-width: 31.25em) {
      .elo__list__item {
        font-size: 1rem;
        padding: .5rem; } }
    .elo__list__item--top5 {
      width: 90%;
      justify-self: center;
      align-self: center;
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content min-content 40rem min-content;
      padding: 1rem 15rem;
      border: 1px solid orangered; }
    .elo__list__item__showcasePicture-box {
      grid-column: 1/-1;
      grid-row: 4 / span 1;
      justify-self: center;
      align-self: center;
      height: 100%;
      width: 50%; }
      .elo__list__item__showcasePicture-box__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block; }
    .elo__list__item__rank-box {
      display: grid;
      grid-template-columns: min-content 1fr;
      padding: 1rem;
      grid-gap: 3rem; }
      @media only screen and (max-width: 37.5em) {
        .elo__list__item__rank-box {
          grid-gap: 1rem;
          padding: .5rem; } }
      .elo__list__item__rank-box__rank--top5 {
        text-align: center;
        color: #bb271f;
        align-self: center;
        font-size: 3.5rem;
        grid-column: 1/ -1;
        grid-row: 1 / span 1; }
      .elo__list__item__rank-box__rating {
        background-color: #bb271f;
        text-align: center;
        margin-right: 1rem;
        color: white; }
        .elo__list__item__rank-box__rating--top5 {
          justify-self: center;
          width: 100%;
          align-self: center;
          font-size: 3.5rem;
          grid-column: 1/ -1;
          grid-row: 2 / span 1;
          margin: 0; }
    .elo__list__item__player-box {
      align-self: center; }
      .elo__list__item__player-box--top5 {
        grid-column: 1 / -1;
        text-align: center;
        font-size: 3.5rem;
        text-transform: uppercase;
        grid-row: 3 / span 1; }
        .elo__list__item__player-box--top5 a {
          text-decoration: none; }
    .elo__list__item__kill-box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      grid-gap: 2rem; }
      .elo__list__item__kill-box--top5 {
        grid-column: 1 / -1;
        justify-self: center;
        align-self: center;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-row: 5 / span 1;
        margin-top: 3rem; }
    .elo__list__item__icon {
      width: 2rem; }
      .elo__list__item__icon--top5 {
        justify-self: end; }
