.fashion {
  background-image: linear-gradient(
    rgba(187, 39, 31, 0.77),
    rgba(255, 255, 255, 0.75)
  );

  grid-column: 1 / -1;
  padding: 3rem;

  display: grid;

  @include respond(bpSmaller){
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  grid-template-rows: 1fr 1fr;

  &__title {
    grid-column: 1 / span 2;
    align-self: center;
    justify-self: center;
    font-size: 6rem;
    letter-spacing: 0.2em;
    color: $color-white;

    @include respond(bpSmaller){
      font-size: 5rem;
    }
    @include respond(phone){
      font-size: 4rem;
      padding-bottom: 3rem;
    }

    @include respond(micro){
      font-size: 3rem;
      letter-spacing: 0.1em;
    }
  }

  &__rules {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding: 2rem;

    box-shadow: $box-shadow-dark;

    background-color: $color-white;
    opacity: 0.65;

    @include respond(bpSmaller){
      grid-column: 1 / -1;
      grid-row: 2 / span 1;
        justify-self: center;
    }
  }

  &__rules-text {
    display: flex;
    flex-flow: column;
  }

  &__rules-item {
    display: flex;
    align-items: center;
  }
  &__rules-icon {
    margin-left: 0.5rem;
  }

  &__rules-text {
    list-style: none;
    line-height: 1.2;
    font-size: 1.8rem;
    color: $color-primary-dark;
  }

  &__rules-item {
    margin-bottom: 2rem;
  }

  &__img {
    padding: 2rem;

    &--1 {
      width: 100%;
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;

      @include respond(bpSmaller){
        grid-column: 1 / -1;
        grid-row: 3 / span 1;
        justify-self: center;
      }
    }
  }
}
